<!-- {{ titleAscii }} -->
<!DOCTYPE html>
<html lang="{{ app.SITE.APP_LANG }}">
        <head>
                <meta charset="{{ app.SITE.APP_CHARSET }}">
                <meta name="description" content="{{ app.SITE.APP_DESCRIPTION }}">
                <meta name="author" content="{{ app.WEB_MASTER.APP_FIRSTNAME_WM }} {{ app.WEB_MASTER.APP_LASTNAME_WM }}">

                <title>LOURDAUX Florian : DÉVELOPPEUR PHP en alternance!</title>

                <!-- BOOTSTRAP -->
                <link rel="stylesheet" href="adm/twbs/css/bootstrap.min.css"/>
                
                <!-- FONTS -->
                <link rel="stylesheet" href="/design/fonts/font-awesome-5.15.1/css/all.css"/>
                <link rel="stylesheet" type="text/css" href="/design/fonts/OpenSans/OpenSans.css"/>
                <link rel="stylesheet" href="/design/fonts/Icons/material-icons.css">
                <!-- CSS -->
                <link rel="stylesheet" href="design/css/cv/cv.css" />
                <link rel="stylesheet" href="design/css/cv/cv.media.css" />
                <link rel="stylesheet" href="design/css/cv/cv.print.css" type="text/css" media="print">
                <link rel="stylesheet" href="design/css/cv/cv.mediaprint.css" type="text/css" media="print">
                <link rel="stylesheet" href="design/css/cv/fonts-size.css" />
        </head>
        <body>
                <section>
                        <header>
                                <!--	INFORMATIONS PERSONNEL  -->
                                <address class="animated slideInLeft delay-0.8s">
                                        <strong>
                                                <!--    NAME    -->
                                                <span>
                                                        <i class="material-icons">&#xe851;</i>
                                                        <a href="mailto:lourdaux.florian.pro@gmail.com">LOURDAUX Florian</a>
                                                        <!--    MAP  -->
                                                        <a class="noscreen" href="https://www.google.fr/maps/place/93310+Le+Pr%C3%A9-Saint-Gervais" target="_blank">, LE PRÉ SAINT GERVAIS - 93310</a>
                                                </span>
                                                <!--    MAIL    -->
                                                <span>
                                                        <i class="material-icons">mail</i>
                                                        <a href="mailto:lourdaux.florian.pro@gmail.com">lourdaux.florian.pro@gmail.com</a>
                                                </span>
                                                <!--    QR-CODE -->
                                                <img src="design/img/qrc.png">
                                                <!--    LINK    -->
                                                <ul>    
                                                        <li>
                                                                <a href="https://t.co/aPsHS7bSL0" title="https://cv.positive-link.net">
                                                                        <i class="material-icons">&#xe80b;</i>
                                                                        <span class="printi">t.co/aPsHS7bSL0</span>
                                                                </a>
                                                        </li>
                                                        <li>
                                                                <a href="https://github.com/flourdau" target="_blank" title="GitHub">
                                                                        <img src="design/img/logos/GitHub.png" alt="Logo GitHub">
                                                                        <span class="printi">https://github.com/flourdau</span>
                                                                </a>
                                                        </li>
                                                        <li>
                                                                <a href="https://www.linkedin.com/in/flourdau/" target="_blank" title="Linkedin">
                                                                        <img src="design/img/logos/Linkedin.png" alt="Logo Linkedin">
                                                                        <span class="printi">https://www.linkedin.com/in/flourdau/</span>
                                                                </a>
                                                        </li>
                                                </ul>
                                        </strong>
                                </address>
                                <!--	TITRE & BOUTTONS    -->
                                <div class="animated slideInRight delay-0.8s">
                                        <h1>DÉVELOPPEUR PHP en alternance</h1>
                                        <h2>Quatre jours en entreprise alternées d'un jour par semaine en formation pour une durée de deux ans.</h2>
                                        <p>"En intégrant une entreprise dynamique et innovante, je contribuerais à ses projets en alliant mes compétences déjà acquises et la formation d'  
                                                <a href="https://openclassrooms.com/fr/paths/59-developpeur-dapplication-php-symfony" target="_blank" title="OPENCLASSROOM">OPENCLASSROOMS</a>."
                                        </p>
                                        <div class="noprint">
                                                <div class="dropdown">
                                                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Téléchargez en PDF 
                                                                <i class="material-icons">&#xe2c4;</i>
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <a class="dropdown-item" href="/dl/flourdau_alternance.pdf" target="_blank" title="Version Alternance">Version Alternance</a>
                                                                <a class="dropdown-item" href="/dl/flourdau.pdf" target="_blank" title="Version CDI/CDD...">Version CDI/CDD...</a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </header>
                        <hr>
                        <main>
                                <!--    BLOCK 1  -->
                                <section>
                                        <h2>
                                                <i class="material-icons">&#xe40a;</i>
                                                <span>&nbsp;COMPÉTENCES</span>
                                                <i class="clic material-icons">&#xe5c5;</i>
                                        </h2>
                                        <ul>
                                                <li>
                                                        <!--    SOFT SKILLS     -->
                                                        <section>
                                                                <h3>
                                                                        <i class="material-icons">&#xe0da;</i>
                                                                        <span>SOFT SKILLS</span>
                                                                </h3>
                                                                <ul>
                                                                        <li>
                                                                                <span>Motivation</span>
                                                                        </li>
                                                                        <li>
                                                                                <span>Autonomie</span>
                                                                        </li>
                                                                        <li>
                                                                                <span>Ponctualité</span>
                                                                        </li>
                                                                        <li>
                                                                                <span>Rigueur</span>
                                                                        </li>
                                                                        <li>
                                                                                <span>Créativité</span>
                                                                        </li>
                                                                </ul>
                                                        </section>
                                                        <!--    DIVERS      -->
                                                        <section>
                                                                <h3>
                                                                        <i class="material-icons">&#xe226;</i>
                                                                        <span>DIVERS</span>
                                                                </h3>
                                                                <ul>
                                                                        <li><span>Permis B</span></li>
                                                                        <li><span>Anglais Technique</span></li>
                                                                </ul>
                                                        </section>
                                                </li>
                                                <li>
                                                        <!--    LANGAGES -->
                                                        <section>
                                                                <h3>
                                                                        <i class="material-icons">&#xe1b0;</i>
                                                                        <span>LANGAGES</span>
                                                                </h3>
                                                                <ul>
                                                                        <li>
                                                                                <img src="design/img/logos/HTML.png" alt="Logo HTML - CSS">
                                                                                <span>HTML - CSS</span>
                                                                        </li>
                                                                        <li>
                                                                                <img src="design/img/logos/PHP.png" alt="Logo PHP">
                                                                                <span>PHP</span>
                                                                        </li>
                                                                        <li>
                                                                                <img src="design/img/logos/SQL.png" alt="Logo SQL">
                                                                                <span>SQL</span>
                                                                        </li>
                                                                        <li>
                                                                                <img src="design/img/logos/JavaScript.png" alt="Logo JavaScript">
                                                                                <span>JavaScript</span>
                                                                        </li>
                                                                        <li>
                                                                                <img src="design/img/logos/C.png" alt="Logo C">
                                                                                <span>C</span>
                                                                        </li>
                                                                        <li>
                                                                                <img src="design/img/logos/Bash.png" alt="Logo Bash">
                                                                                <span>Bash</span>
                                                                        </li>
                                                                </ul>
                                                        </section>
                                                        <!--    FRAMEWORK - CMS     -->
                                                        <section>
                                                                <h3>
                                                                        <i class="material-icons">&#xe8b8;</i>
                                                                        <span>FRAMEWORK - CMS</span>
                                                                </h3>
                                                                <ul>
                                                                        <li>
                                                                                <img src="design/img/logos/Symfony.png" alt="Logo Symfony">
                                                                                <span>Symfony</span>
                                                                        </li>
                                                                        <li>
                                                                                <img src="design/img/logos/Slim.png" alt="Logo Slim">
                                                                                <span>Slim</span>
                                                                        </li>
                                                                        <li>
                                                                                <img src="design/img/logos/Wordpress.png" alt="Logo Wordpress">
                                                                                <span>Wordpress</span>
                                                                        </li>
                                                                </ul>
                                                        </section>
                                                        <!--    SOFTWARE    -->
                                                        <section>
                                                                <h3>
                                                                        <i class="material-icons">&#xe623;</i>
                                                                        <span>SOFTWARE</span>
                                                                </h3>
                                                                <ul>
                                                                        <li>
                                                                                <img src="design/img/logos/Apache2.png" alt="Logo Apache">
                                                                                <span>Apache2</span>
                                                                        </li>
                                                                        <li>
                                                                                <img src="design/img/logos/Docker.png" alt="Logo Docker">
                                                                                <span>Docker</span>
                                                                        </li>
                                                                        <li>
                                                                                <img src="design/img/logos/Git.png" alt="Logo Git">
                                                                                <span>Git</span>
                                                                        </li>
                                                                        <li>
                                                                                <img src="design/img/logos/NodeRed.png" alt="Logo NodeRed">
                                                                                <span>Node-Red</span>
                                                                        </li>
                                                                        <li>
                                                                                <img src="design/img/logos/VBox.png" alt="Logo VirtualBox">
                                                                                <span>VirtualBox</span>
                                                                        </li>
                                                                </ul>
                                                        </section>
                                                </li>
                                                <li>
                                                <!--    HARDWARE    -->
                                                        <section>
                                                                <h3>
                                                                        <i class="material-icons">&#xe322;</i>
                                                                        <span>HARDWARE</span>
                                                                </h3>
                                                                <ul>
                                                                        <li>
                                                                                <p>Intégration, paramétrage, maintenance de micro-ordinateurs, serveurs, périphériques & composants internes.</p>
                                                                        </li>
                                                                        <li>
                                                                                <p>Installation, configuration, administration de logiciels, OS, réseaux.</p>
                                                                        </li>
                                                                </ul>
                                                        </section>
                                                </li>
                                        </ul>
                                </section>
                                <!--    BLOCK 2  -->
                                <section>
                                        <!--    FORMATION   -->
                                        <h2>
                                                <i class="material-icons">&#xe80c;</i>
                                                <span>&nbsp;FORMATION</span>
                                                <i class="clic material-icons">&#xe5c5;</i>
                                        </h2>
                                        <!--    OPENCLASSROOMS  -->
                                        <ul>
                                                <li>
                                                        <h6>2019-2022</h6>
                                                </li>
                                                <li>
                                                        <h4>Développeur d'application PHP/Symfony, 
                                                                <a href="https://openclassrooms.com/fr/paths/59-developpeur-dapplication-php-symfony" target="_blank" title="OPENCLASSROOM">OPENCLASSROOMS</a>
                                                        </h4>
                                                </li>
                                                <li>
                                                        <p>Formation diplomante niveau 6 (Bac+3/4) enregistré au RNCP</p>
                                                </li>
                                                <li>
                                                        <ul>
                                                                <li>
                                                                        <span>Création de structure d’une page en HTML5/CSS3</span>
                                                                </li>
                                                                <li>
                                                                        <span>Modélisation de bases de données MYSQL</span>
                                                                </li>
                                                                <li>
                                                                        <span>Réalisation de projets web dynamiques grâce au langages PHP</span>
                                                                </li>
                                                                <li>
                                                                        <span>Développement professionnelle grâce au framework Symfony</span>
                                                                </li>
                                                                <li>
                                                                        <span>Conception de tests unitaires et fonctionnels</span>
                                                                </li>
                                                                <li>
                                                                        <span>Prise en compte des problématiques de performance d’une application PHP</span>
                                                                </li>
                                                        </ul>
                                                </li>
                                        </ul>
                                        <!--    42  -->
                                        <ul>
                                                <li>
                                                        <h6>2014-2017</h6>
                                                </li>
                                                <li>
                                                        <h4>Architecte en Technologie du Numérique, 
                                                                <a href="http://www.42.fr/" target="_blank" title="École 42">École 42</a> 
                                                                <span> - PARIS</span>
                                                        </h4>
                                                </li>
                                                <li>
                                                        <ul>
                                                                <li>
                                                                        <strong>Piscine C validée</strong>
                                                                </li>
                                                                <li>
                                                                        <span>Création d’une librairie C/ASM.</span>
                                                                </li>
                                                                <li>
                                                                        <span>Fonction PrintF.</span>
                                                                </li>
                                                                <li>
                                                                        <span>Programme LS.</span>
                                                                </li>
                                                                <li>
                                                                        <span>Jeu Sudoku en C.</span>
                                                                </li>
                                                        </ul>
                                                        <ul>
                                                                <li>
                                                                        <strong>Piscine PHP validée</strong>
                                                                </li>
                                                                <li>
                                                                        <span>Site d'E-Commerce.</span>
                                                                </li>
                                                                <li>
                                                                        <span>Instagram-Like.</span>
                                                                </li>
                                                                <li>
                                                                        <span>Meetic-Like.</span>
                                                                </li>
                                                        </ul>
                                                </li>
                                        </ul>
                                        <h2>
                                                <i class="material-icons">&#xeb3f;</i>
                                                <span>&nbsp;EXPÉRIENCES PROFESSIONNELLES</span>
                                                <i class="clic material-icons">&#xe5c5;</i>
                                        </h2>
                                        <!--    ECP -->
                                        <ul>
                                                <li>
                                                        <h6>2017-2018<h6>
                                                </li>
                                                <li>
                                                        <h4>CDD - Développeur PHP, Intégrateur Web, <a href="http://www.europ-computer.com/" target="_blank" title="ECP">ECP : Europ-Computer</a><span> - STAINS(93)</span></h4>
                                                </li>
                                                <li>
                                                <ul>
                                                        <li>
                                                                <span>Création d' outils en PHP : mailing, référencements, achats.</span>
                                                        </li>
                                                        <li>
                                                                <span>Gestion des sites internet et bases de données. (PHP, MYSQL, ORACLE)</span>
                                                        </li>
                                                        <li>
                                                                <span>Maintenance du parc informatique : </span>
                                                                <span>+25 machines, 2 serveurs (1 local + 1 distant).</span>
                                                        </li>
                                                </ul>
                                                </li>
                                        </ul>
                                </section>
                                <!--    BLOCK 3  -->
                                <section>
                                        <!--    PROJET PERSO  -->
                                        <section>
                                                <h2>
                                                        <i class="material-icons">&#xe14f;</i>
                                                        <span>&nbsp;PROJETS PERSONNELS</span>
                                                        <i class="clic material-icons">&#xe5c5;</i>
                                                </h2>
                                                <ul>
                                                        <li>
                                                                <span>Autour des Raspberry Pi :</span>
                                                        </li>
                                                        <li>
                                                                <span>Interfaces Météo/Transports/Domotique</span>
                                                        </li>
                                                        <li>
                                                                <span>Point d'access Wifi</span>
                                                        </li>
                                                        <li>
                                                                <span>Serveurs Web/Multimédia</span>
                                                        </li>
                                                        <li>
                                                                <span>Création & Administration du site:</span>
                                                        </li>
                                                        <li>
                                                                <a href="https://positive-link.net" target="_blank" title="positive-link.net">positive-link.net</a>
                                                        </li>
                                                </ul>
                                        </section>
                                        <!--    CENTRES D'INTÉRÊTS -->
                                        <section>
                                                <div>
                                                        <h2>
                                                                <i class="material-icons">&#xe338;</i>
                                                                <span>&nbsp;CENTRES D'INTÉRÊTS</span>
                                                                <i class="clic material-icons">&#xe5c5;</i>
                                                        </h2>
                                                        <ul>
                                                                <li>
                                                                        <span>Nouvelles Technologies</span>
                                                                </li>
                                                                <li>
                                                                        <span>Jeux-Vidéo : Guild Wars 2 (lvl80), Tekken,..</span>
                                                                </li>
                                                                <li>
                                                                        <span>Musiques : Reggae, Electro, Rap,..</span>
                                                                </li>
                                                                <li>
                                                                        <span>Vidéos : Cinéma, Séries, Documentaires,..</span>
                                                                </li>
                                                                <li>
                                                                        <span>Sport : Course à pied, Randonnée,..</span>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </section>
                                </section>
                        </main>
                        <footer>
                                <span>&copy; | 2K19 - {{ "now"|date("Y") }} | </span>
                                <a href="mailto:lourdaux.florian.pro@gmail.com">flourdau</a>
                        </footer>
                </section>
        </body>
<script src="adm/cdn/jquery-3.5.1.min.js"></script>
<script src="adm/cdn/popper.min.js"></script>
<script src="adm/twbs/js/bootstrap.min.js"></script>